*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(255, 255, 255);
}

.cuerpo{
    text-align: center;
}

.header{
    user-select: none;
}

.contenedor{
    width: 100%;
    height: 100%;
    margin: auto;
}

.slider-contenedor{
    text-align: center;
}

.slider-contenedor p{
    user-select: none;
}

.footer{
    width: 100%;
    height: 85px;
    text-align: center;
    background-color: #201f1f;
    letter-spacing: 0.1em;
    clear: both;
    bottom: 0;
}

.footer p{
    color: white;
    padding: 30px;
}

.contenedor-productos{
    width: 100%;
    padding: 3rem;
    height: auto;
    text-align: center;
}

.contenedor-productos a{
    text-decoration: none;
}

.capsula{
    text-align: center;
    width: 350px;
    height: 450px;
    float: left;
    margin: 15px;
}

.producto{
    float: left;
    height: auto;
    width: 300px;
    border-radius: 15px;
    margin: 1.5rem;
}

.producto:hover .precio-antes{
    visibility: visible;
    transition: 1s;
    opacity: 1;
    height: auto;
}
.producto:hover .descripcion-producto{
    visibility: visible;
    transition: 1s;
    opacity: 1;
    height: auto;
}
.producto:hover{
    box-shadow: 4px 4px 9px #999;
    transition: .5s;
}

.precio-antes{
    visibility: hidden;
    padding-top: 10px;
    opacity: 0;
    height: 0;
    text-decoration: line-through;
    color: #5a5a5a;
}

.descripcion-producto{
    visibility: hidden;
    opacity: 0;
    padding-bottom: 10px;
    height: 0;
    color: #3b3b3b;
}

.precio-actual{
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.producto img{
    border-bottom: 1px solid #6e6e6e;
    padding-bottom: 10px;
}

.producto-detalle{
    width: auto;
    height: 650px;
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    position: relative;
    border-radius: 15px;
    box-shadow: 4px 4px 9px #999;
}


.contenedor-detalle{
    width: 650px;
    margin: 10px;
    float: right;
    position: relative;
}

.estrellas{
    text-align: center;
    font-size: 30px;
}

.amarillo{
    color: yellow;
}

.gris{
    color: grey;
}

.imagen-detalle{
    width: 500px;
    margin: 10px;
    user-select: none;
    float: left;
    position: relative;
}

input[type = "radio"]{
    display: none;
}

.favorito{
    color: grey;
    font-size: 50px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1px 20px;
}

label:hover{
    color: rgb(255, 47, 47);
}

input[type = "radio"]:checked ~ label{
    color: red;
}

.titulo-detalle{
    width: 550px;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
}

.estrellas{
    margin-top: -20px;
    text-align: left;
    font-size: 25px;
}

.precio-detalle{
    font-size: 30px;
    font-weight: bold;
}

.precio-antiguo{
    margin-bottom: -15px;
    color: #5a5a5a;
    font-size: 20px;
    text-decoration: line-through;
}
.cuotas{
    margin-top: -15px;
    font-size: 20px;
    color: #5a5a5a;
}

.descripcion{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.carritoNumber{
    background: orange;
    border-radius: 0.8em;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.6em;
    margin-left: 23px;
    text-align: center;
    margin-top: -20px;
    width: 1.6em;
    position: absolute;
    float: left;
}


.tienda{
    width: auto;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    border: 3px;
    position: relative;
}

.imagen-tienda{
    float: left;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 15%;
    background-color: rgb(241, 241, 241);
}

.ul-tienda{
    list-style-type: none;
    display: flex;
}

.ul-tienda li{
    width: 100%;
}

.ul-tienda p{
    padding-top: 25px;
}

.boton-tienda{
    float: right;
    margin-top: 20px;
}

.boton-mas-menos{
    margin-top: 20px;
}